[Unit]
Description=Tracking Usage Statistics

# arbtt needs to be installed using cabal

[Service]
ExecStart=/home/spotlight/.cabal/bin/arbtt-capture
Restart=always
Environment=DISPLAY=:1

[Install]
WantedBy=default.target
