!! default settings
*background: #222222
*foreground: #cccccc


!! Xft Font settings
Xft.antialias: 1
Xft.autohint: 0
Xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

!! URxvt settings
URxvt*font: xft:Noto Mono:size=9
URxvt.buffered: false
URxvt.color4:           RoyalBlue
URxvt.cursorUnderline: 1
URxvt.depth: 32
URxvt.inheritPixmap: true
URxvt.letterSpace: -1
URxvt.perl-ext-common:
URxvt.perl-ext:
URxvt.saveLines: 9000
URxvt.scrollBar: false
URxvt.secondaryScroll: true
URxvt.shading: 5
URxvt.termName: rxvt-unicode

!! dzen2
dzen2.font: Liberation Mono for Powerline:size=14


!! rofi
rofi.color-enabled: true
rofi.color-normal: argb:00000000, white, argb:00000000, argb:b5586e75, white
rofi.color-window: argb:b5000000, argb:b5000000, 0
rofi.hide-scrollbar: true
rofi.separator-style: none
