!! default settings
*background: #222222
*foreground: #cccccc


!! Xft Font settings
Xft.antialias: 1
Xft.autohint: 0
Xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

!! URxvt settings
URxvt*font: xft: Droid Sans Mono for Powerline:size=10
URxvt.letterSpace: -2
URxvt.lineSpace: -1
URxvt.buffered: false
URxvt.color4:           RoyalBlue
URxvt.cursorUnderline: 1
URxvt.depth: 32
URxvt.inheritPixmap: true
URxvt.perl-lib: ~/.urxvt/ext/
!URxvt.perl-ext-common: keyboard-select
URxvt.perl-ext:
!URxvt.keysym.Mod4-Escape: perl:keyboard-select:activate
URxvt.saveLines: 9000
URxvt.scrollBar: false
URxvt.secondaryScroll: true
URxvt.shading: 5
URxvt.termName: rxvt-unicode

!! rofi
rofi.color-enabled: true
rofi.color-normal: argb:00000000, white, argb:00000000, argb:b5586e75, white
rofi.color-window: argb:b5000000, argb:b5000000, 0
rofi.hide-scrollbar: true
rofi.separator-style: none
