!! Xft Font settings
Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rga: rgb
Xft.lcdfilter: lcddefault

!! URxvt settings
URxvt.saveLines: 9000
URxvt.scrollBar: false
URxvt.foreground: white
URxvt.secondaryScroll: true
URxvt*font: xft:Fira Mono:style=Light:size=9
! Decrease the letter space by one pixel
URxvt*letterSpace: -1
URxvt.perl-ext-common: default,clipboard,url-select
URxvt*inheritPixmap: true 
URxvt*shading: 20
URxvt*termName: rxvt-unicode
URxvt.depth: 32
URxvt*background: [50]#000000
URxvt.cursorUnderline: 1
URxvt.color4:           RoyalBlue
! open URLs w/o mouse
URxvt.keysym.C-i: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/chromium
URxvt.url-select.underline: true
! copy paste
URxvt.iso14755: False
URxvt.keysym.M-C: perl:clipboard:copy
URxvt.keysym.M-V: perl:clipboard:paste
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Left: \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C


!! dzen2
dzen2.font: Liberation Mono for Powerline:size=14

!! rofi
rofi.color-enabled: true
rofi.color-window: argb:b5000000, argb:b5000000, 0
rofi.color-normal: argb:00000000, white, argb:00000000, argb:b5586e75, white
rofi.hide-scrollbar: true
rofi.separator-style: none
